.container{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* margin: auto; */
}
.section{
    padding: 20px;
    margin: 100px  0 ;
    width: 100%;
    height: 50vh;
    background-color: aqua;
    display: grid;
    place-items: center;
}
.elements{
display: grid;
place-items: center;;
}
.elements > input{
    width: 80%;
}
